#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.app-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.input-container input {
  padding: 10px;
  flex-grow: 1;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  padding: 10px 20px;
  background-color: #FF0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.error-message {
    color: red
}
  .video-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 20px;
  }
.info-card {
   border: 1px solid #ddd;
   padding: 15px;
  border-radius: 8px;
}
 .info-card h3 {
    margin-bottom: 10px;
 }
.thumbnail-container {
     max-width: 100%;
      margin: 0 auto;
      margin-bottom: 20px;
  }
  .thumbnail-container img {
      max-width: 100%;
  }
  .info-row {
      display: flex;
     margin-bottom: 5px;
      align-items: center;
      gap: 10px;
  }
 .label {
    font-weight: bold;
     flex-basis: 30%;
     text-align: left;
  }
  .value {
      flex-grow: 1;
     text-align: left;
  }
  .embed-html {
     overflow: auto;
     max-height: 300px;
  }
 .description {
     margin-bottom: 5px;
       display: flex;
       flex-direction: column;
 }
  @media (max-width: 768px) {
      .video-grid {
          grid-template-columns: 1fr;
      }
      .label {
          flex-basis: 40%;
      }
  }

  .stats-table {
    width: 100%;
    border-collapse: collapse;
}

.stats-table td {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

.stats-table tr:hover {
    background-color: #f0f0f0;
}